@inherits LayoutComponentBase
<ErrorBoundary>
    <ChildContent>

@Body
    </ChildContent>
    <ErrorContent>
        <h1>Oops! An error occurred.</h1>
        <p>Sorry, an error occurred while processing your request.</p>
        <p>Our support team has been notified and will investigate the issue.</p>
      <p>@context.ToString()</p>
    </ErrorContent>
</ErrorBoundary>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
